// Tang Nano 20K pin assignment (Gowin EDA)
IO_LOC "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "s1" 88;
IO_PORT "s1" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "s2" 87;
IO_PORT "s2" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// LED: 「TANG NANO 20K」の文字が読める向き(USB が左)で、
//      bit0 = 右はし (基板の印字 LED5, pin 20) ... bit5 = 左はし (印字 LED0, pin 15)
IO_LOC "led_n[0]" 20;
IO_PORT "led_n[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led_n[1]" 19;
IO_PORT "led_n[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led_n[2]" 18;
IO_PORT "led_n[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led_n[3]" 17;
IO_PORT "led_n[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led_n[4]" 16;
IO_PORT "led_n[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led_n[5]" 15;
IO_PORT "led_n[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
